body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.hero-image {
    background-image: url('assets/hero-image.webp');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content {
    padding: 16px;
}
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
}
.card {
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}
.footer {
    padding: 20px;
    text-align: center;
}
